body
{
	margin: 0;
}
.top
{
	background-color: black;
	color: white;
	width: 100%;
	height: 50px;
	text-align: center;

}
.center
{
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	
}
.registration
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px dotted darkgreen;
}
.name-input
{
	display: inline-block;
	margin-top: 5%;
	padding-bottom: 5%;
}
.questions
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
#crop
{
	text-align: initial;
	margin-left: 40%;
}
.submit
{
	text-align: center;
	width: 100%;
	color: white;
}